<mat-toolbar color="primary">
  <img src="assets/logo-seni.svg" alt="SENI Logo" class="logo" (click)="goHome()">
  <span class="spacer"></span>
  <div class="nav-links">
    <a mat-button routerLink="/sobre-nosotros" class="nav-link">Sobre Nosotros</a>
    <button mat-button [matMenuTriggerFor]="servicesMenu" class="nav-link">Servicios</button>
    <mat-menu #servicesMenu="matMenu">
      <button mat-menu-item routerLink="/servicios/courier-internacional">Courier Internacional</button>
      <button mat-menu-item routerLink="/servicios/transporte-carga-internacional">Transporte de Carga Internacional</button>
      <button mat-menu-item routerLink="/servicios/tramites-aduaneros-logistica">Trámites Aduaneros y Logística Interna</button>
    </mat-menu>
    <a mat-button routerLink="/senibox" class="nav-link">SENIBOX</a>
  </div>
  <div class="navbar-buttons">
    <!-- <button mat-raised-button class="account-button" routerLink="/mi-cuenta">Mi cuenta</button> -->
    <!-- <button mat-stroked-button class="register-button" routerLink="/registrarme">Registrarme</button> -->
  </div>
  <button mat-icon-button (click)="drawer.toggle()" class="hamburger-button">
    <mat-icon class="hamburger-icon">menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer class="sidenav" mode="over" (closedStart)="onSidenavClose()">
    <mat-nav-list>
      <a mat-list-item routerLink="/sobre-nosotros" (click)="drawer.close()">Sobre Nosotros</a>
      <a mat-list-item routerLink="/servicios/courier-internacional" (click)="drawer.close()">Courier Internacional</a>
      <a mat-list-item routerLink="/servicios/transporte-carga-internacional" (click)="drawer.close()">Transporte de Carga Internacional</a>
      <a mat-list-item routerLink="/servicios/tramites-aduaneros-logistica" (click)="drawer.close()">Trámites Aduaneros y Logística Interna</a>
      <a mat-list-item routerLink="/senibox" (click)="drawer.close()">SENIBOX</a>
      <!-- <a mat-list-item routerLink="/contacto" (click)="drawer.close()">Contacto</a> -->
      <!-- <a mat-list-item routerLink="/mi-cuenta" (click)="drawer.close()">Mi cuenta</a> -->
      <!-- <a mat-list-item routerLink="/registrarme" (click)="drawer.close()">Registrarme</a> -->
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
