/* Transporte Container */
.transporte-container {
  position: relative;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.transporte-bg {
  background-image: url('../../../../assets/1x/1x/carga.png');
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.transporte-content {
  padding: 0 20px;
}

.transporte-content h1 {
  font-size: 3rem;
  font-weight: 700;
}

/* Responsive Design */
@media (max-width: 768px) {
  .transporte-content h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .transporte-content h1 {
    font-size: 2rem;
  }
}

/* Embarques Container */
.embarques-container, .embarques-container2 {
  padding: 150px 20px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
}

.embarques-container2 {
  background-color: #edeef3;
}

.embarques-content, .embarques-content2 {
  display: flex;
  align-items: center;
  max-width: 1200px;
}

.embarques-image {
  flex: 1;
  text-align: center;
}

.embarques-image img {
  width: 100%;
  max-width: 500px;
  height: 500px; /* Ajusta esta altura según sea necesario */
  object-fit: cover;
  border-radius: 20px;
}

.embarques-info {
  flex: 1;
  padding: 0 20px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.embarques-info h2 {
  font-size: 2.5rem;
  color: #002075;
}

.embarques-info h2 span {
  color: #ff7f00;
}

.embarques-info ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

.embarques-info ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.embarques-info ul li::before {
  content: "→";
  margin-right: 10px;
  color: #002075;
}

.embarques-info ul li strong {
  color: #002075;
}

/* Responsive Design */
@media (max-width: 768px) {
  .embarques-content, .embarques-content2 {
    flex-direction: column;
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .embarques-info {
    padding-left: 0;
    padding-right: 0;
  }
  
  .embarques-info h2 {
    font-size: 2rem;
  }
  
  .embarques-info ul {
    font-size: 1rem;
  }
  
  .embarques-image {
    margin-top: 20px; /* Espaciado superior para la imagen */
  }
}

@media (max-width: 480px) {
  .embarques-info ul {
    font-size: 0.9rem;
  }
}
