<section class="transporte-container">
  <div class="transporte-bg"></div>
  <div class="transporte-content">
    <h1>TRANSPORTE DE CARGA INTERNACIONAL</h1>
  </div>
</section>

<section class="embarques-container">
  <div class="embarques-content">
    <div class="embarques-image">
      <img src="../../../../assets/1x/1x/AVION.png" alt="Embarques Aéreos">
    </div>
    <div class="embarques-info">
      <h2>Embarques <span>Aéreos</span></h2>
      <ul>
        <li><strong>Seguimiento y coordinación con proveedores</strong></li>
        <li>Consolidación de carga: Diferentes proveedores para un solo embarque</li>
        <li><strong>Servicio pick up</strong></li>
        <li>Despachos diarios</li>
        <li><strong>Reserva / booking inmediato</strong></li>
        <li>Manejo de cargas Bonded y Peligrosas</li>
      </ul>
    </div>
  </div>
</section>

<section class="embarques-container2">
  <div class="embarques-content2">
    <div class="embarques-info">
      <h2>Embarques <span>Marítimos</span></h2>
      <ul>
        <li><strong>Seguimiento y coordinación con proveedores.</strong></li>
        <li>Consolidación de carga: Diferentes proveedores para un solo embarque</li>
        <li><strong>Servicio de pick up / inland</strong></li>
        <li>Trámites de aduana en origen</li>
        <li><strong>Reserva / booking inmediato</strong></li>
        <li>Carga marítima LCL</li>
        <li><strong>Salidas semanales</strong></li>
        <li>Proyectos y equipos especiales de acuerdo a su requerimiento.</li>
        <li><strong>Carga marítima FCL 20", 40", ST / NOR / HQ</strong></li>
      </ul>
    </div>
    <div class="embarques-image">
      <img src="../../../../assets/1x/1x/barco.png" alt="Embarques Marítimos">
    </div>
  </div>
</section>