<div class="senibox-hero">
  <img src="assets/1x/seniboxbg.png" alt="SENIbox Background">
  <div class="senibox-hero-text">
    <img src="assets/SVG/senibox-logo.svg" alt="SENIbox Logo" class="senibox-logo">
    <p>Tu bodega en Miami</p>
  </div>
</div>

<section class="senibox-section">
  <div class="centered-container">
    <div class="centered-content">
      <h2 class="title">Compra Online</h2>
      <div class="svg-container">
        <img src="../../../assets/compras-online.svg" alt="Default SVG" class="centered-svg default-svg">
        <img src="../../../assets/compras-online-2.svg" alt="Responsive SVG" class="centered-svg responsive-svg">
      </div>
    </div>
  </div>
</section>

<section class="new-section">
  <div class="content-container">
    <h2 class="section-title">4X4</h2>
    <p class="section-subtitle">¿Cómo funciona?</p>
    <div class="svg-container">
      <img src="../../../assets/4x4.svg" alt="4x4 SVG" class="section-svg">
    </div>
  </div>
</section>

<app-contacto></app-contacto>