<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <nav class="navbar">
        <div class="navbar-logo">
            <a href="#"><img src="./../assets/logo-seni.svg" alt="Logo SENI"></a>
        </div>
        <ul class="navbar-links">
            <li><a href="#">Sobre Nosotros</a> </li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">SENIBOX</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <div class="navbar-buttons">
            <a href="#" class="btn-account">Mi cuenta</a> 
            
            <a href="#" class="btn-register">Registrarme</a>
        </div>
    </nav> -->

    <nav class="nav container" id="nav">

        <div class="navbar-logo">
            <a href="#"><img src="./../assets/logo-seni.svg" alt="Logo SENI"></a>
        </div>
        

        <ul class="nav__links">

            <li class="nav__item">
                <a href="#" class="nav__link">Sobre Nosotros</a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">Servicios</a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">SENIBOX</a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">Contacto</a>
            </li>
            <li class="nav__item" id="item-btn1">
                <a href="#" class="btn-account">Mi cuenta</a> 
            </li>

            <li class="nav__item" id="item-btn1">
                <a href="#" class="btn-register">Registrarme</a>
            </li>
        
        </ul>



        <a href="#nav" class="nav__hamburguer">
            <img src="./../assets/menu.svg" class="nav__icon">
        </a>

        <a href="#" class="nav__close">
            <img src="./../assets/close.svg" class="nav__icon">
        </a>

    </nav>

    <div class="galeria-container">
        <div id="slider">
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            <input type="radio" name="slider" id="slide4">
            <div id="slides">
               <div id="overflow">
                  <div class="inner">
                     <div class="slide slide_1">
                        <div class="slide-content">
                            <img src="../assets/img1.jpg" alt="Slide 1">
                        </div>
                     </div>
                     <div class="slide slide_2">
                        <div class="slide-content">
                            <img src="../assets/img2.jpg" alt="Slide 2">
                        </div>
                     </div>
                     <div class="slide slide_3">
                        <div class="slide-content">
                            <img src="../assets/img3.jpg" alt="Slide 3">
                        </div>
                     </div>
                     <div class="slide slide_4">
                        <div class="slide-content">
                            <img src="../assets/img4.jpg" alt="Slide 4">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="controls">
               <label for="slide1"></label>
               <label for="slide2"></label>
               <label for="slide3"></label>
               <label for="slide4"></label>
            </div>
            <div id="bullets">
               <label for="slide1"></label>
               <label for="slide2"></label>
               <label for="slide3"></label>
               <label for="slide4"></label>
            </div>
         </div>        
    </div>
    
    <div class="tracking-container">
        <h1>Rastrear Paquete</h1>
        <div class="search-box">
            <input type="text" placeholder="Ingresa aquí número de guía SENI / Tracking / WR">
            <button>Buscar</button>
        </div>
        <div class="info-section">
            <div class="info-box">
                <img src="../assets/SVG/icon1.svg" alt="Box Icon">
                <h2>Número de Guía SENI</h2>
                <p>Cuando envíe la orden de despacho de su paquete, se genera automáticamente un número de guía que es remitido a su email o puede visualizarlo en la plataforma.</p>
            </div>
            <div class="info-box">
                <img src="../assets/SVG/icon2.svg" alt="Receipt Icon">
                <h2>Número de Tracking</h2>
                <p>Este número se lo proporciona la plataforma de la tienda donde realizó la compra.</p>
            </div>
            <div class="info-box">
                <img src="../assets/SVG/icon3.svg" alt="Warehouse Icon">
                <h2>Número de Warehouse</h2>
                <p>El número es proporcionado por nuestro sistema cada vez que receptamos un paquete en nuestra bodega.</p>
            </div>
        </div>
    </div>
    
    <div class="compras-container">
        <h1 class="main-title">Tus compras personales a <span class="highlight">Ecuador</span></h1>
        <div class="content">
            <p class="description-text">Garantizamos el traslado de tus productos para que se entreguen de manera oportuna y eficiente.</p>
            <img src="../assets/compras.png" alt="Laptop with packages" class="product-image">
        </div>
    </div>

    <div class="senibox-container">
        <div class="logo">
            <img src="../assets/SVG/senibox.svg" alt="SENI Logo"> <!-- Asegúrate de tener el logo correcto -->
        </div>
        <div class="boxes">
            <div class="box blue-box">
                <ul>
                    <li>Sin trámites</li>
                    <li>100% confiable</li>
                    <li>Nos encargamos de todo</li>
                    <li>Asesoría profesional</li>
                </ul>
            </div>
            <div class="box orange-box">
                <div class="centered-content">
                    <h3>Categoria B</h3>
                    <h2>4X4</h2>
                    <p>8.8 lbs</p>
                    <p>$400.00</p>
                    <p>Cupo anual de importación hasta $1600</p>
                </div>
            </div>
            <div class="box image-box">
                <img src="../assets/1x/Recurso 17.png" alt="People discussing" style="width: 100%; height: 100%; object-fit: cover;"> <!-- Asegúrate de tener la imagen -->
            </div>
        </div>
    </div>

    <div class="trabajar-container" style="background-image: url('../assets/background-image.png');">
        <h1  class="trabajar-title">¿Por qué trabajar con nosotros?</h1>
        <p class="subtitulo">La mejor experiencia en el traslado de tus pedidos internacionales</p>
        <div class="cajas">
            <div class="caja caja1">
                <img src="../assets/SVG/icon_empresa.svg" alt="Icono de envío">
                <p>Embarques y trámites en manos de una sola empresa</p>
            </div>
            <div class="caja caja2">
                <img src="../assets/SVG/icon_persona.svg" alt="Icono de personal calificado">
                <p>Personal calificado para clasificación arancelaria</p>
            </div>
            <div class="caja caja3">
                <img src="../assets/SVG/icon_papel.svg" alt="Icono de información">
                <p>Información constante sobre el estado de su carga</p>
            </div>
        </div>
    </div>

    <div class="servicios-container">
        <h1 class="servicios-title">Servicios</h1>
        <h2 class="servicios-subtitulo">Logística Internacional</h2>
        <div class="tarjetas">
            <div class="tarjeta">
                <img src="../assets/SVG/icon_avion.svg" alt="Carga Aérea Internacional">
                <p>Carga Aérea Internacional</p>
            </div>
            <div class="tarjeta">
                <img src="../assets/SVG/icon_barco.svg" alt="Carga Marítima Internacional">
                <p>Carga Marítima Internacional</p>
            </div>
            <div class="tarjeta">
                <img src="../assets/SVG/icon_aduana.svg" alt="Trámites de Aduana">
                <p>Trámites de Aduana</p>
            </div>
            <div class="tarjeta">
                <img src="../assets/SVG/icon_logis.svg" alt="Logística Interna y Transporte">
                <p>Logística Interna y Transporte</p>
            </div>
        </div>
    </div>

</body>
</html>
