<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <nav class="navbar">
        <div class="navbar-logo">
            <a href="#"><img src="./../assets/logo-seni.svg" alt="Logo SENI"></a>
        </div>
        <ul class="navbar-links">
            <li><a href="#">Sobre Nosotros</a> </li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">SENIBOX</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <div class="navbar-buttons">
            <a href="#" class="btn-account">Mi cuenta</a> 
            
            <a href="#" class="btn-register">Registrarme</a>
        </div>
    </nav> -->

    <nav class="nav container" id="nav">

        <div class="navbar-logo">
            <a href="#"><img src="./../assets/logo-seni.svg" alt="Logo SENI"></a>
        </div>
        

        <ul class="nav__links">

            <li class="nav__item">
                <a href="#" class="nav__link">Sobre Nosotros</a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">Servicios</a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">SENIBOX</a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">Contacto</a>
            </li>
            <li class="nav__item" id="item-btn1">
                <a href="#" class="btn-account">Mi cuenta</a> 
            </li>

            <li class="nav__item" id="item-btn1">
                <a href="#" class="btn-register">Registrarme</a>
            </li>
        
        </ul>



        <a href="#nav" class="nav__hamburguer">
            <img src="./../assets/menu.svg" class="nav__icon">
        </a>

        <a href="#" class="nav__close">
            <img src="./../assets/close.svg" class="nav__icon">
        </a>

    </nav>

    <div class="galeria-container">

    </div>
    
    <div class="tracking-container">
        <h2>Rastrear Paquete</h2>
        <div class="search-box">
            <input type="text" placeholder="Ingresa aquí número de guía SENI / Tracking / WR">
            <button>Buscar</button>
        </div>
        
        <div class="info-section">
            <div class="info-card">
                <div class="icon"><img src="icon1.svg" alt="Icono Guía"></div>
                <div class="text">
                    <h3>Número de Guía SENI</h3>
                    <p>Cuando envíe la orden de despacho de su paquete, se genera automáticamente un número de guía que es remitido a su email o puede visualizarlo en la plataforma.</p>
                </div>
            </div>
    
            <div class="info-card">
                <div class="icon"><img src="icon2.svg" alt="Icono Tracking"></div>
                <div class="text">
                    <h3>Número de Tracking</h3>
                    <p>Este número se lo proporciona la plataforma de la tienda donde realizó la compra.</p>
                </div>
            </div>
    
            <div class="info-card">
                <div class="icon"><img src="icon3.svg" alt="Icono Warehouse"></div>
                <div class="text">
                    <h3>Número de Warehouse</h3>
                    <p>El número es proporcionado por nuestro sistema cada vez que receptamos un paquete en nuestra bodega.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="compras-container">
        
    </div>

    <div class="senibox-container">

    </div>
    <div class="trabajar-container">

    </div>
    <div class="servicios-container">

    </div>
    <div class="contacto-container">

    </div>
</body>
</html>
