<section class="galeria-container">
  <div id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
      <div id="overflow">
        <div class="inner">
          <div class="slide slide_1">
            <div class="slide-content">
              <img src="../../../assets/galeria/img1.jpg" alt="Slide 1">
              <div class="caption slide1-caption">
                <button class="cta-button">Saber más</button>
              </div>
            </div>
          </div>
          <div class="slide slide_2">
            <div class="slide-content">
              <img src="../../../assets/galeria/img2.jpg" alt="Slide 2">
              <div class="caption slide2-caption">
                <button class="cta-button">Contacta un asesor</button>
              </div>
            </div>
          </div>
          <div class="slide slide_3">
            <div class="slide-content">
              <img src="../../../assets/galeria/img3.jpg" alt="Slide 3">
              <div class="caption slide3-caption">
                <button class="cta-button">Registrarme</button>
              </div>
            </div>
          </div>
          <div class="slide slide_4">
            <div class="slide-content">
              <img src="../../../assets/galeria/img4.jpg" alt="Slide 4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bullets">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>
  </section>
  
  <section class="tracking-container">
    <h2 class="titulo-tracking">Rastrear Paquete</h2>
    <div class="search-box">
      <input type="text" placeholder="Ingresa aquí número de guía SENI / Tracking / WR">
      <button>Buscar</button>
    </div>
    <div class="info-wrapper">
      <div class="info-section">
        <div class="info-box">
          <div class="icon">
            <img src="../../../assets/SVG/icon1.svg" alt="Número de Guía SENI">
          </div>
          <h3>Número de Guía SENI</h3>
          <p>Cuando envíe la orden de despacho de su paquete, se genera automáticamente un número de guía que es remitido a su email o puede visualizarlo en la plataforma.</p>
        </div>
        <div class="info-box">
          <div class="icon">
            <img src="../../../assets/SVG/icon3.svg" alt="Número de Tracking">
          </div>
          <h3>Número de Tracking</h3>
          <p>Este número se lo proporciona la plataforma de la tienda donde realizó la compra.</p>
        </div>
        <div class="info-box">
          <div class="icon">
            <img src="../../../assets/SVG/icon2.svg" alt="Número de Warehouse">
          </div>
          <h3>Número de Warehouse</h3>
          <p>El número es proporcionado por nuestro sistema cada vez que receptamos un paquete en nuestra bodega.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="compras-container">
    <div class="background-text">
      <div class="line">AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE</div>
      <div class="line">ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO</div>
      <div class="line">MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ</div>
      <div class="line">SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA</div>
      <div class="line">AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE</div>
      <div class="line">ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO</div>
      <div class="line">MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ</div>
      <div class="line">SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA</div>
      <div class="line">AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE</div>
      <div class="line">ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO</div>
      <div class="line">MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ</div>
      <div class="line">SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA</div>
      <div class="line">AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE</div>
      <div class="line">ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO</div>
      <div class="line">MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ</div>
      <div class="line">SUCUMBÍOS TUNGURAHUA ZAMORA CHINCHIPE AZUAY BOLÍVAR CAÑAR CARCHI CHIMBORAZO COTOPAXI EL ORO ESMERALDAS GALÁPAGOS GUAYAS IMBABURA LOJA LOS RÍOS MANABÍ MORONA SANTIAGO NAPO ORELLANA PASTAZA PICHINCHA SANTA ELENA</div>
    </div>
    <div class="content">
      <h1 class="titulo-compras">Tus compras personales <span>a Ecuador</span></h1>
      <div class="content-inner">
        <p>Garantizamos el traslado de tus productos para que se entreguen de manera oportuna y eficiente</p>
        <img src="../../../assets/compras.png" alt="Compras personales a Ecuador">
      </div>
    </div>
  </section>
  
  <section class="senibox-container">
    <img src="../../../assets/SVG/senibox.svg" alt="SENIbox Logo" class="senibox-logo">
    <div class="senibox-grid">
      <div class="senibox-item blue-box">
        <ul>
          <li>✓ Sin trámites</li>
          <li>✓ 100% confiable</li>
          <li>✓ Nos encargamos de <strong>todo</strong></li>
          <li>✓ Asesoría profesional</li>
        </ul>
      </div>
      <div class="senibox-item image-box">
        <img src="../../../assets/1x/4x4.jpg" alt="Middle Image">
      </div>
      <div class="senibox-item image-box">
        <img src="../../../assets/1x/Recurso 17.png" alt="Delivery Image">
      </div>
    </div>
  </section>
  
  <section class="trabajar-container">
    <h2>¿Por qué trabajar con nosotros?</h2>
    <p class="subtitulo">La mejor experiencia en el traslado de tus pedidos internacionales</p>
    <div class="trabajar-grid">
      <div class="trabajar-item white-box">
        <img src="../../../assets/SVG/icon_empresa.svg" alt="Icono 1">
        <p>Embarques y trámites en manos de <strong>una sola empresa</strong></p>
      </div>
      <div class="trabajar-item blue-box">
        <img src="../../../assets/SVG/icon_persona.svg" alt="Icono 2">
        <p><strong>Personal calificado</strong> para clasificación arancelaria</p>
      </div>
      <div class="trabajar-item white-box">
        <img src="../../../assets/SVG/icon_papel.svg" alt="Icono 3">
        <p><strong>Información constante</strong> sobre el estado de su carga</p>
      </div>
    </div>
  </section>  
  
  <section class="servicios-container">
    <img src="../../../assets/senilogistic.svg" alt="Logo" class="logo-logistic">
    <p class="subtitulo">Logística Internacional</p>
    <div class="servicios-grid">
      <div class="servicio-item orange-box1">
        <img src="../../../assets/SVG/icon_avion.svg" alt="Carga Aérea Internacional">
        <p>Carga Aérea</p>
      </div>
      <div class="servicio-item orange-box2">
        <img src="../../../assets/SVG/icon_barco.svg" alt="Carga Marítima Internacional">
        <p>Carga Marítima</p>
      </div>
      <div class="servicio-item orange-box3">
        <img src="../../../assets/SVG/icon_aduana.svg" alt="Trámites de Aduana">
        <p>Trámites de Aduana</p>
      </div>
      <div class="servicio-item orange-box4">
        <img src="../../../assets/SVG/icon_logis.svg" alt="Logística Interna y Transporte">
        <p>Logística Interna y Transporte</p>
      </div>
    </div>
  </section>  
  
  <section class="contacto-container">
    <div class="contacto-bg"></div>
    <app-contacto></app-contacto>
  </section>
  
