<section class="courier-container">
    <div class="courier-bg"></div>
    <div class="courier-content">
      <h1>COURIER INTERNACIONAL</h1>
      <div class="info-box">
        <div class="info-item">
          <img src="../../../../assets/SVG/producto.svg" alt="Icono 1">
          <p>Importa cualquier <strong>producto</strong></p>
        </div>
        <div class="info-item">
          <img src="../../../../assets/SVG/money.svg" alt="Icono 2">
          <p>Aplica para cargas menores a <strong>$5000.00</strong></p>
        </div>
        <div class="info-item">
          <img src="../../../../assets/SVG/kg.svg" alt="Icono 3">
          <p>Peso menor a <strong>100KG</strong></p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="benefits-container">
    <div class="benefits-grid">
      <div class="benefit-item">
        <img src="../../../../assets/1x/1x/despachos.png" alt="Imagen 1">
        <div class="benefit-text">Despachos diarios</div>
      </div>
      <div class="benefit-item">
        <img src="../../../../assets/1x/1x/tiempo.png" alt="Imagen 2">
        <div class="benefit-text">Excelentes tiempos de entrega</div>
      </div>
      <div class="benefit-item">
        <img src="../../../../assets/1x/1x/asesoria.png" alt="Imagen 3">
        <div class="benefit-text">Asesoría previa importación</div>
      </div>
      <div class="benefit-item">
        <img src="../../../../assets/1x/1x/mundo.png" alt="Imagen 4">
        <div class="benefit-text">Desde cualquier país del mundo</div>
      </div>
      <div class="benefit-item">
        <img src="../../../../assets/1x/1x/usa.png" alt="Imagen 5">
        <div class="benefit-text">Socio en USA</div>
      </div>
      <div class="benefit-item">
        <img src="../../../../assets/1x/1x/seguridad.png" alt="Imagen 6">
        <div class="benefit-text">Seguridad en el manejo de su embarque</div>
      </div>
    </div>
  </section>
  
  
  
  <section class="info-section">
    <div class="info-container">
      <div class="info-item">
        <img src="../../../../assets/SVG/devolucion.svg" alt="Devolución de mercancías">
        <h3>¿Devolución de mercancías?</h3>
        <p>Garantía y reparación de equipos o productos</p>
      </div>
      <div class="info-item">
        <img src="../../../../assets/SVG/curier.svg" alt="Courier export">
        <h3>Courier export</h3>
        <p>Podemos embarcar a cualquier parte del mundo</p>
      </div>
    </div>
  </section>
  