/* Courier Container */
.courier-container {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #fdfdfd;
    text-align: center;
    overflow: hidden;
    padding: 150px 20px; /* Adjust padding as needed */
  }
  
  .courier-bg {
    background-image: url('../../../../assets/1x/1x/courierbg.png'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    filter: brightness(0.8); /* Multiply azul */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .courier-content {
    position: relative;
    z-index: 1;
  }
  
  .courier-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
  }
  
  /* Info Box */
  .info-box {
    background-color: #cb6103;
    border-radius: 20px;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .info-item {
    text-align: center;
    flex: 1;
    margin: 0 10px;
  }
  
  .info-item img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .info-item p {
    font-size: 1rem;
    color: #fdfdfd;
    margin: 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .courier-content h1 {
      font-size: 2.5rem;
    }
  
    .info-box {
      flex-direction: column;
      padding: 10px;
    }
  
    .info-item {
      margin: 10px 0;
    }
  }
  
  @media (max-width: 480px) {
    .courier-content h1 {
      font-size: 2rem;
    }
  
    .info-item img {
      width: 40px;
    }
  
    .info-item p {
      font-size: 0.9rem;
    }
  }

/* Benefits Container */
.benefits-container {
  padding: 150px 10px;
  background-color: #edeef3;
  font-family: 'Poppins', sans-serif;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
}

.benefit-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.benefit-text {
  background-color: #002075;
  color: #fdfdfd;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  flex: none;
  height: 50px; /* Establecer una altura fija para los cuadros de texto */
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .benefits-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px;
  }

  .benefit-item img {
    height: 185px;
  }

  .benefit-text {
    font-size: 1rem;
    padding: 10px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .benefits-grid {
    grid-template-columns: 1fr;
  }

  .benefit-text {
    font-size: 0.8rem;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .benefit-text {
    font-size: 1rem;
    padding: 8px;
  }
}


/* Info Section */
.info-section {

    padding: 150px 0px;
    background-color: #cb6103;
    font-family: 'Poppins', sans-serif;
  }
  
  .info-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .info-item {
    text-align: center;
    max-width: 300px;
    margin: 0 20px;
  }
  
  .info-item img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .info-item h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .info-section .info-item p {
    font-size: 1rem;
    color: #ffffff;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .info-container {
      flex-direction: column;
      align-items: center;
    }
  
    .info-item {
      margin-bottom: 30px;
    }
  }
  
  