<section class="sobre-nosotros-container">
  <div class="background-image">
    <div class="text-content">
      <h1>Entregando el<br>mundo a tu puerta</h1>
      <p>Nos especializamos en logística con servicios personalizados para tus envíos internacionales en alianza con los principales operadores logísticos del país y el mundo.</p>
      <p>Nuestro objetivo es brindarte una asociación que te proporcione amplios beneficios, contribuyendo así al logro de tus metas personales y empresariales.</p>
    </div>
  </div>
</section>

<section class="quote-container">
  <div class="quote-box">
    <p>“El mayor compromiso es brindar una logística integral, con un servicio personalizado, rápido y oportuno”</p>
    <p class="quote-author">CEO</p>
  </div>
</section>

<section class="info-container">
  <div class="section mission">
    <div class="icon"><i class="fas fa-bullseye"></i></div>
    <h2>Misión</h2>
    <p>Convertirnos en uno de los principales operadores de logística internacional del Ecuador.</p>
  </div>
  <div class="section vision">
    <div class="icon"><i class="fas fa-eye"></i></div>
    <h2>Visión</h2>
    <p>Generar oportunidades de crecimiento en común para nuestros socios y colaboradores.</p>
  </div>
</section>

<section class="values-container">
  <h2>Nuestros Valores</h2>
  <div class="values-grid">
    <div class="value-item">
      <h3>Confianza</h3>
      <p>Cuidamos su giro de negocio y confidencialidad de sus proveedores.</p>
      <p>Sus embarques y tramites en manos de un solo agente.</p>
      <p>Asesoría personalizada.</p>
    </div>
    <div class="value-item">
      <h3>Responsabilidad</h3>
      <p>Es una empresa amigable con el medio ambiente.</p>
      <p>Alianzas estratégicas con operadores logísticos a nivel mundial.</p>
    </div>
    <div class="value-item">
      <h3>Compromiso</h3>
      <p>Seguimiento oportuno a todos sus procesos.</p>
      <p>Sistemas de información adaptados para conocer el estado de su carga.</p>
    </div>
    <div class="value-item">
      <h3>Calidad</h3>
      <p>Servicios óptimos diseñados cualquier parte del mundo.</p>
      <p>Despachos inmediatos de acuerdo con sus necesidades.</p>
    </div>
  </div>
</section>

<section class="social-responsibility-container">
  <h2>Responsabilidad Social</h2>
  <p>Comprometidos con el medio ambiente y el prójimo.</p>
  <div class="social-initiatives">
    <div class="initiative">
      <i class="fas fa-recycle"></i>
      <h3>Campaña cero papel</h3>
      <p>Reciclaje de toda la papelería de papel, cartón y plásticos de las importaciones.</p>
    </div>
    <div class="initiative">
      <i class="fas fa-hands-helping"></i>
      <h3>Donación a obras benéficas</h3>
      <p>En los envíos de tus compras personales aportamos 0.10 USD por cada libra.</p>
    </div>
  </div>
</section>
<app-contacto></app-contacto>