<section class="contacto-container">
  <div class="contacto-content">
    <div class="contacto-info">
      <img src="assets/SVG/seniblanco.svg" alt="SENI Logo" class="contacto-logo">
      <p>Somos tu empresa en logística internacional y nuestro compromiso es la búsqueda de optimizar sus recursos con una asesoría oportuna y de nuestro personal altamente capacitado</p>
      <button class="contacto-button">Regresar al inicio</button>
    </div>
    <div class="contacto-ubicacion">
      <h2>Guayaquil, Ecuador</h2>
      <p><span class="icon">📍</span> Ciudadela Urdesa Norte Solar 6-2 Calle 2da y Ave. Tercera SN</p>
      <p><span class="icon">📞</span> +593 98 592 7718</p>
      <div class="contacto-mapa">
        <google-map [center]="center" [zoom]="zoom" [options]="options">
          <div appAdvancedMarker [position]="center" [map]="googleMap"></div>
        </google-map>
      </div>
    </div>
  </div>
  <div class="contacto-redes">
    <div class="social-link">
      <a href="https://www.instagram.com/seniecuador/"><img src="assets/SVG/Instagram.svg" alt="Instagram"></a>
      <span>/seniecuador/</span>
    </div>
    <div class="social-link">
      <a href="https://www.facebook.com/seniecuador/"><img src="assets/SVG/facebook.svg" alt="Facebook"></a>
      <span>/seniecuador/</span>
    </div>
    <div class="social-link">
      <a href="https://www.linkedin.com/in/seni-ecuador/"><img src="assets/SVG/link.svg" alt="LinkedIn"></a>
      <span>/in/seni-ecuador/</span>
    </div>
    <div class="social-link">
      <a href="https://www.tiktok.com/@seniecuador/"><img src="assets/SVG/tiktok.svg" alt="TikTok"></a>
      <span>/seniecuador/</span>
    </div>
  </div>
</section>
