<section class="tramites-container">
    <div class="tramites-bg"></div>
    <div class="tramites-content">
      <h1><span>TRAMITES ADUANEROS</span> <br>Y LOGISTICA INTERNA</h1>
    </div>
  </section>

  <section class="expertos-container">
    <h2>Expertos en trámites aduaneros</h2>
    <p class="subtitulo">Firma autorizada como agente de aduana</p>
    <div class="expertos-grid">
      <div class="expertos-item blue-box">
        <img src="../../../../assets/SVG/cajacheck.svg" alt="Verificación de documentos">
        <p>Verificación de documentos previo al arribo de su carga</p>
      </div>
      <div class="expertos-item blue-box">
        <img src="../../../../assets/SVG/abc.svg" alt="Clasificación y digitación">
        <p>Clasificación y digitación anticipada</p>
      </div>
      <div class="expertos-item blue-box">
        <img src="../../../../assets/SVG/doc.svg" alt="Retiro de documentos">
        <p>Retiro de documentos en su oficina u operador logístico</p>
      </div>
    </div>
  </section>
  
  <section class="transporte-container">
    <h2>Transporte terrestre de carga</h2>
    <p class="subtitulo">Vehículos propios para despachos internos y socios de transporte pesado</p>
    <div class="transporte-grid">
      <div class="transporte-item white-box">
        <img src="../../../../assets/1x/SVG/mover.svg" alt="Movilización de cargas">
        <p>Movilización de cargas sueltas y contenedores</p>
      </div>
      <div class="transporte-item white-box">
        <img src="../../../../assets/1x/SVG/poli.svg" alt="Servicio de custodia">
        <p>Servicio de custodia armada</p>
      </div>
      <div class="transporte-item white-box">
        <img src="../../../../assets/1x/SVG/carro.svg" alt="Inmediata disposición">
        <p>Inmediata disposición de vehículos</p>
      </div>
      <div class="transporte-item white-box">
        <img src="../../../../assets/1x/SVG/monitoreo.svg" alt="Monitoreo constante">
        <p>Monitoreo constante del traslado de su carga</p>
      </div>
    </div>
  </section>
  